<div class="gdg-follow-banner">
    <div class="container">
        <div class="gdg-follow-banner-sections">
            <div class="gdg-follow-section gdg-white-logo">
                <img src='./assets/imgs/gdg_logo_white.svg' />
            </div>
            <div class="gdg-follow-section gdg-handle">#NEDevFest2020</div>
            <div class="gdg-follow-section gdg-social-media">
                <div class="gdg-social-title">Stay Tuned. Follow Us.</div>
                <div class="gdg-social-links">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin-in"></i>
                </div>
            </div>
        </div>
    </div>
</div>