@import './../../../assets/styles/colors.scss';


.gdg-follow-banner {
    min-height: 200px;
    background-color: $main-purple;
    display: flex;
    align-items: center;
    color: #FFF;

    .gdg-follow-banner-sections {
        display: flex;
        align-items: center;
        justify-content: center;

        .gdg-white-logo {
            width: 200px;
            opacity: 0.5;
        }

        .gdg-handle {
            font-size: 2em;
            margin: 0px 64px 0px 32px;
        }

        .gdg-social-title {
            margin-bottom: 16px;
        }

        .gdg-social-links {
            display: flex;
            justify-content: space-around;
            align-items: center;
            

            .fab {
                font-size: 2em;
                padding: 8px;
            }
        }
    }

}

@media screen and (max-width: 480px) {

    .gdg-follow-banner-sections {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .gdg-follow-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex: 1 !important;
            margin: 0px !important;
            padding: 48px 0px;
        }
    }
}