@import './../../../assets/styles/colors.scss';
@import './../../../assets/styles/common.scss';

.sponsors-banner {

    .sponsors-container {
        text-align: center;
        padding: 32px 0px;

        h1 {
            margin-bottom: 50px;
        }
    }

    .sponsor-banner-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px 30px 30px 30px;

        .sponsor-tech {
            width: 50px;
            height: 50px;
        }

        .sponsor-name {
            color: $darker-purple;
            font-size: 1.5em;
            width: 120px;
            margin-bottom: 6px;
            min-height: 50px;
        }

        .sponsor-company {
            color: grey;
            margin-bottom: 6px;
        }

        .sponsor-img {
            width: 225px;
            height: 100px;
            margin-bottom: 16px;
        }
    }

    .sponsors-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .sponsor-img {
        width: 150px !important;
    }
}

@media screen and (max-width: 900px) {
    .sponsors-list {
        grid-template-columns: 1fr 1fr !important;
    }

    .sponsor-banner-card {
        padding: 0px !important;
    }
}

@media screen and (max-width: 480px) {
    .sponsors-list {
        grid-template-columns: 1fr !important;

        .sponsor-banner-card {
            margin-bottom: 32px;
        }
    }
}