$main-purple: #6678BC;
$darker-purple: #2A396F;
$dark-purple: #324179;
$light-gray: #F6F6F6;

// new colors
$gdg-devfest-yellow: #FBBC04;
$gdg-devfest-blue: #0005DF;
$gdg-devfest-green: #23AD4D;
$gdg-devfest-darkgreen: #128c37;
