.common-btn {
    border: none !important;
    border-radius: 50px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .common-btn-label {
        margin-left: 10px;
        font-family: 'GoogleSansRegular';
    }
}

.common-banner-title {
    color: grey;
    font-size: 2em;
}

.gdg-hashtags {
    background: #e0e0e0;
    border-color: rgba(0,0,0,.12);
    color: rgba(0,0,0,.87);
    padding: 0 12px;
    position: relative;
    display: inline-flex;
    overflow: hidden;
    outline: none;
    max-width: 100%;
    text-decoration: none;
    -webkit-transition-duration: .28s;
    transition-duration: .28s;
    -webkit-transition-property: opacity,-webkit-box-shadow;
    transition-property: opacity,-webkit-box-shadow;
    transition-property: box-shadow,opacity;
    transition-property: box-shadow,opacity,-webkit-box-shadow;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    vertical-align: middle;
    white-space: nowrap;
    line-height: 40px;
}

.gdg-hashtags-small {
    border-radius: 12px;
    font-size: 12px;
    height: 24px;
}

.gdg-hashtags-medium {
    border-radius: 12px;
    font-size: 12px;
    height: 32px;
}

.gdg-hashtags-large {
    border-radius: 20px;
    font-size: 24px;
    height: 40px;
}