<div class="navbar">
    <div class="container">
        <div class="navbar-container">
            <div class="navbar-drawer-toggle" [class.drawer-open]="isDrawerOpened">
                <div class="material-icons" (click)="onToggleNavDrawer(!isDrawerOpened)">{{ isDrawerOpened ? 'clear' : 'dehaze' }}</div>
            </div>
            <div class="navbar-logo-container">
                <a [routerLink]="['/home']">
                    <div class="navbar-logo">
                        <img src="./assets/imgs/gdg_logo_color.svg" />
                    </div>
                    <div class="navbar-logo-text">GDG NorthEast</div>
                </a>
            </div>            
            <navbar-drawer [isDrawerOpened]="isDrawerOpened" (drawerToggleEmitter)="onToggleNavDrawer($event)"></navbar-drawer>
        </div>
    </div>
</div>