<div id="navbar-drawer-container" class="navbar-drawer-container">
    <div class="navbar-items">
        <a [routerLink]="['/home']" class="navbar-item" (click)="onNavLinkClicked($event)">Home</a>
        <a [routerLink]="['/speakers']" class="navbar-item" (click)="onNavLinkClicked($event)">Speakers</a>
        <a [routerLink]="['/Schedule']" class="navbar-item" (click)="onNavLinkClicked($event)">Schedule</a>
        <a [routerLink]="['/sponsors']" class="navbar-item" (click)="onNavLinkClicked($event)">Sponsors</a>
        <a [routerLink]="['/team']" class="navbar-item" (click)="onNavLinkClicked($event)">Team</a>
        <a [routerLink]="['/about']" class="navbar-item" (click)="onNavLinkClicked($event)">About</a>
    </div>
</div>