@import './../../../assets/styles/colors.scss';
@import './../../../assets/styles/common.scss';

.hero-banner {
    min-height: 400px;
    background: url('./../../../assets/imgs/gdgdevfest_webbanner.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-banner-content {
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 64px 0px;

        .gdg-devfest-logo {
            width: 350px;
            height: 220px;
            margin-bottom: 32px;

            img {
                max-width: 100%;
            }
        }

        .hero-date-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 16px 0px 64px 0px;

            .hero-date {
                font-size: 1.8em;
            }

            .hero-time {
                font-size: 1.25em;
            }
        }

        .hero-online-event {
            display: flex;
            align-items: center;
            font-size: 1.25em;

            .material-icons {
                margin-right: 8px;
            }
        }

        .save-date-btn {
            background: $gdg-devfest-yellow;
            color: #000;
            padding: 10px 100px;
            font-size: 1.2em;
        }
    }
}

@media screen and (max-width: 480px) {

    .hero-banner-content {
        width: 250px;
        margin: 0px auto !important;
        text-align: center;

        .gdg-devfest-logo {
            width: 280px !important;
            height: 200px !important;
            margin-top: 60px;
        }

        .save-date-btn {
            padding: 10px 30px !important;
            margin-bottom: 64px;
            font-size: 1em !important;
        }
    }
}