<section class="hero-banner">
    <div class="container">
        <div class="hero-banner-content">
            <div class="gdg-devfest-logo">
                <img src="./assets/imgs/devfest_main_logo.svg" />
            </div>
            <div class="hero-online-event">
                <span class="material-icons">videocam</span><span>Online Event</span>
            </div>
            <div class="hero-date-container">
                <div class="hero-date">Saturday, October 31, 2020</div>
                <div class="hero-time">10AM - 3PM ET</div>
            </div>
            <button class="save-date-btn common-btn" (click)="onSaveDateAction()">
                <span class="material-icons">date_range</span><span class="common-btn-label">Save The Date</span>
            </button>
        </div>
    </div>
</section>