@import './../../../assets/styles/colors.scss';
@import './../../../assets/styles/common.scss';

.speakers-banner {
    background: $light-gray;

    .speakers-container {
        text-align: center;
        padding: 32px 0px;

        h1 {
            margin-bottom: 50px;
        }
    }

    .speaker-banner-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px 32px 32px 32px;

        .speaker-tech {
            width: 50px;
            height: 50px;
        }

        .speaker-name {
            color: $darker-purple;
            font-size: 1.5em;
            width: 120px;
            margin-bottom: 6px;
            min-height: 50px;
        }

        .speaker-company {
            color: grey;
            margin-bottom: 6px;
        }

        .speaker-img {
            width: 80px;
            height: 80px;
            background-size: cover;
            border-radius: 50%;
            background-position: center;
            margin-bottom: 16px;
        }
    }

    .speakers-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .speakers-list {
        grid-template-columns: 1fr !important;

        .speaker-banner-card {
            margin-bottom: 32px;
        }
    }
}