.common-btn {
    border: none !important;
    border-radius: 50px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .common-btn-label {
        margin-left: 10px;
        font-family: 'GoogleSansRegular';
    }
}

.common-banner-title {
    color: grey;
    font-size: 2em;
}