<div class="gdg-covid-banner">
    <div class="gdg-covid-title-msg">
        <div class="container">
            <div class="gdg-covid-title-inner">
                <span class="material-icons">report_problem</span><span>Please support this online event and help us follow the basic COVID-19 Guidelines as of the CDC:</span>
            </div>
        </div>
    </div>
    <div class="gdg-covid-banner-content">
        <div class="container">
            <div class="gdg-covid-guidelines">
                <div class="gdg-covid-guideline">
                    <div class="material-icons">6_ft_apart</div>
                    <div class="gdg-covid-label">Practice Social Distancing</div>
                </div>
                <div class="gdg-covid-guideline">
                    <div class="material-icons">masks</div>
                    <div class="gdg-covid-label">Wear a Mask in Public</div>
                </div>
                <div class="gdg-covid-guideline">
                    <div class="material-icons">wash</div>
                    <div class="gdg-covid-label">Wash Your Hands</div>
                </div>
            </div>
        </div>
    </div>
</div>